html {
  box-sizing: border-box;
  background-color: #c9b5ab;
  font-family: PT, sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1, h2 {
  font-size: 1.5rem;
  font-family: "PT Sans", snas-serif;
  color: #3f1622;
}

nav {
  font-size: 1.125rem;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
}

nav ol {
  list-style-type: none;
}

a {
  color: #8f2440;
  text-decoration: none;
}

a:hover {
  color: #3f1622;
  text-decoration: underline;
}

img {
  width: 100%;
}

figcaption {
  font-family: "PT Serif", serif;
  font-size: 1.125rem;
  font-style: italic;
  text-align: center;
  color: #222;
}

span {
  font-family: "PT Serif", serif;
  font-weight: bold;
  font-size: 1.125rem;
  color: #222;
}

p {
  font-family: "PT Serif", serif;
  font-size: 1.125rem;
  color: #222;
  font-weight: normal;
}

blockquote {
  font-family: "PT Serif", serif;
  font-style: italic;
  font-size: 1.5rem;
  color: #222;
}

div {
  font-family: "PT Serif", serif;
  font-style: italic;
  font-size: 1.5rem;
}

cite {
  font-size: .8rem;
}

h2 + ol {
  font-family: "PT Serif", serif;
  font-size: 1.125rem;
  color: #222;
  list-style-type: lower-greek;
}
